body {
    margin: 0%;
    padding: 0%;
}

p {
    font-family: "poppins", sans-serif;
    font-weight: 300;
}

header {
    background: rgb(83,100,111);
background: linear-gradient(82deg, rgba(83,100,111,1) 0%, rgba(29,39,50,1) 50%, rgba(2,3,6,1) 100%);
    height: 100vh;
}

h1 {
    font-family: "Lexend", sans-serif;
    font-size: 4rem;
    font-style: normal;
    padding-top: 200px;
    padding-left: 80px;
    color: white;
}

h2 {
    font-family: "Lexend", sans-serif;
    color: #6d7680;
}

.container-1 h3 {
    padding-left: 80px;
    color: #6d7680;
}

.Menu {
    display: block;
    background-color: aliceblue;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.about-me {
    display: flex;
    gap: 12px;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: row;
    flex-direction: column;
    padding-top: 80px;
}

#about-me {
    padding-top: 30px;
}

.about-me > p {
    text-align: center;
}

.section-2 {
    margin-top: 100px;
}

.container-2 {
    display: flex;
    padding:30px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.box {
    width: 500px;
    height: 250px;
}

.svg {
    padding-top: 60px;   
    float: left;
}

.card-1 {
    padding-top: 75px;
    padding-left: 75px;
    float: left;
}

.section-3 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.button {
    color: white;
    background-color: grey;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    margin-top: 15px;
}

footer {
    background-color: black;
    width: 100%;
    height: 20vh;
    position: relative;
}

.powered {
    color: white;
    position: absolute;
    top: 90px;
}